html {
  font-family: "Happiness";
  font-weight: lighter;
  font-size: larger;
  text-align: justify;
  background-color: rgb(245, 241, 237);
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Happiness;
  src: url(./../assets/fonts/Super\ Happy\ Personal\ Use.ttf);
  font-weight: 400;
}
/* Paleta de colores
rgb(37, 35, 35)
rgb(112, 121, 140)
rgb(245, 241, 237)
rgb(218, 210, 188)
rgb(169, 153, 133) */
header {
  background-color: rgba(0, 255, 242, 0.459);
  color: white;
  padding: 10px 0;
}
header .header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-container .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
header .header-container .menu ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 3px;
  text-decoration: none;
}
header .header-container .menu ul li a {
  color: rgba(0, 0, 0, 0.425);
  text-decoration: none;
}
header .header-container .menu ul li:hover {
  background-color: rgb(0, 255, 242);
  color: #ffffff;
  border-radius: 25%;
  padding: 10px;
}
header .header-container .menu ul li.submenu {
  padding: 10px;
}
header .header-container .menu ul li.submenu .submenu-items {
  display: none;
  position: absolute;
  background-color: #27b16c;
  padding: 5px;
  z-index: 1;
}
header .header-container .menu ul li.submenu .submenu-items li {
  margin: 5px 0;
}
header .header-container .menu ul li.submenu .submenu-items li a:hover {
  color: rgb(37, 35, 35);
  background-color: rgb(255, 128, 0);
  padding: 3px;
}
header .header-container .menu ul li.submenu:hover .submenu-items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 3px 3px;
  border-radius: 10%;
}
header .header-container .logo {
  margin-right: 20px;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

footer {
  background-color: rgb(169, 153, 133);
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
footer .contenedor-footer {
  max-width: 1200px;
  margin: 5 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
}
footer .contenedor-footer .footer-social ul {
  padding: 0;
  list-style: none;
}
footer .contenedor-footer .footer-social ul li {
  display: inline-block;
}
footer .contenedor-footer .footer-social ul li a {
  color: #333;
  text-decoration: none;
}
footer .contenedor-footer .footer-social ul li:last-child {
  margin-right: 5;
}

main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#kinesiologia h1 {
  align-items: center;
  justify-content: center;
}
#kinesiologia .fotos_kines {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
}
#kinesiologia .fotos_kines .card_cami {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid aqua;
  margin: 5px;
}
#kinesiologia .fotos_kines .card_cami .foto_cami {
  align-items: center;
  justify-content: center;
  border-radius: 25% 10%;
  height: 200px;
  width: 200px;
  padding: 5px;
}
#kinesiologia .fotos_kines .card_cami p {
  padding: 5px;
  width: 300px;
}
#kinesiologia .fotos_kines .card_maira {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid aqua;
  margin: 5px;
}
#kinesiologia .fotos_kines .card_maira .foto_maira {
  border-radius: 25% 10%;
  height: 200px;
  width: 200px;
  padding: 5px;
}
#kinesiologia .fotos_kines .card_maira p {
  padding: 10px;
  width: 20rem;
}

.medicina_carrusel .imagen-container {
  max-height: 600px;
  max-width: 500px;
  margin: 0 auto;
}
.medicina_carrusel .carousel-control-prev {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-prev .carousel-control-prev-icon {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-next {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-next .carousel-control-next-icon {
  background-color: rgb(37, 35, 35);
}

main .profesion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}
main .profesion .cards {
  display: grid;
  width: 100px;
  text-align: center;
}
main .profesion .cards h2 {
  color: deepskyblue;
}
main .profesion .cards .cards_inicio {
  display: grid;
  height: auto;
  width: 300px;
  border-radius: 25% 10% 25% 10%;
}

@media screen and (max-width: 1025px) {
  main .profesion {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  main .profesion {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-social ul li {
    display: grid;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  main .profesion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-social ul li {
    display: grid;
    flex-direction: column;
  }
  #kinesiologia .fotos_kines .card_cami {
    flex-direction: column;
  }
  #kinesiologia .fotos_kines .card_maira {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
