html {
  font-family: "Happiness";
  font-weight: lighter;
  font-size: larger;
  text-align: justify;
  background-color: rgb(245, 241, 237);
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Happiness;
  src: url(./../assets/fonts/Super\ Happy\ Personal\ Use.ttf);
  font-weight: 400;
}
/* Paleta de colores
rgb(37, 35, 35)
rgb(112, 121, 140)
rgb(245, 241, 237)
rgb(218, 210, 188)
rgb(169, 153, 133) */
.header {
  background-color: rgb(169, 153, 133);
  color: white;
  padding: 10px 0;
}
.header .header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-container .logo {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  order: 1;
}
.header .header-container .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header .header-container .menu ul li {
  margin: 0 10px;
  position: relative;
}
.header .header-container .menu ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  padding: 10px;
  display: block;
}
.header .header-container .menu ul li a:hover {
  background-color: rgb(112, 102, 89);
  color: #ffffff;
  border-radius: 5px;
}
.header .header-container .menu ul li.submenu .submenu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(169, 153, 133);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
.header .header-container .menu ul li.submenu .submenu-items li {
  margin: 5px 0;
}
.header .header-container .menu ul li.submenu .submenu-items li a {
  color: #ffffff;
  padding: 5px;
}
.header .header-container .menu ul li.submenu .submenu-items li a:hover {
  color: rgb(37, 35, 35);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.header .header-container .menu ul li.submenu:hover .submenu-items {
  display: block;
}

footer {
  background-color: rgb(169, 153, 133);
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
footer .contenedor-footer {
  max-width: 1200px;
  margin: 5 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: flex-end;
  align-items: center;
}
footer .contenedor-footer .footer-social ul {
  padding: 0;
  list-style: none;
}
footer .contenedor-footer .footer-social ul li {
  display: inline-block;
}
footer .contenedor-footer .footer-social ul li a {
  color: #333;
  text-decoration: none;
}
footer .contenedor-footer .footer-social ul li:last-child {
  margin-right: 5;
}

main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#kinesiologia h1 {
  align-items: center;
  justify-content: center;
  color: rgb(43, 150, 158);
}
#kinesiologia .fotos_kines {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  height: auto;
}
#kinesiologia .fotos_kines .card_cami {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid aqua;
  margin: 5px;
  padding: 10px;
}
#kinesiologia .fotos_kines .card_cami .foto_cami {
  align-items: center;
  justify-content: center;
  border-radius: 25% 10%;
  height: 200px;
  width: 200px;
  padding: 2px;
}
#kinesiologia .fotos_kines .card_maira {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 2px solid aqua;
  margin: 5px;
  padding: 10px;
}
#kinesiologia .fotos_kines .card_maira .foto_maira {
  border-radius: 25% 10%;
  height: 200px;
  width: 200px;
  padding: 5px;
}

.medicina_carrusel .imagen-container {
  max-height: 600px;
  max-width: 500px;
  margin: 0 auto;
}
.medicina_carrusel .carousel-control-prev {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-prev .carousel-control-prev-icon {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-next {
  background-color: rgb(37, 35, 35);
}
.medicina_carrusel .carousel-control-next .carousel-control-next-icon {
  background-color: rgb(37, 35, 35);
}

.titulo_psicologia {
  color: rgb(43, 150, 158);
}

.psicologa_laura {
  display: flex;
  align-items: center;
  text-align: center;
}
.psicologa_laura img {
  border-radius: 30%;
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}
.psicologa_laura h2 {
  padding: 10px;
  font-weight: normal;
  font-size: 1rem;
}

main .profesion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}
main .profesion .cards {
  justify-content: center;
  align-items: center;
}
main .profesion .cards .mini_titulos {
  color: rgb(43, 150, 158);
}
main .profesion .cards .cards_inicio {
  justify-content: center;
  align-items: center;
  display: grid;
  height: auto;
  width: 300px;
  border-radius: 25% 10% 25% 10%;
}
main .profesion .cards .descripciones_especialidad {
  padding: 10px;
  column-gap: 15px;
  font-weight: normal;
}

@media screen and (max-width: 1025px) {
  main .profesion {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main .profesion {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-social ul li {
    display: grid;
    flex-direction: column;
  }
  #kinesiologia .fotos_kines .card_cami {
    flex-direction: column;
  }
  #kinesiologia .fotos_kines .card_maira {
    flex-direction: column;
  }
  .psicologa_laura {
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .psicologa_laura img {
    margin-right: 20px;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header-container .menu {
    margin-bottom: 10px;
  }
  .header-container .logo {
    order: 1;
    margin-top: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
