/* Selector de etiqueta */
/* Esta es la font descargada e ingresada */
/* html
{
    font-family: "Happiness";
    font-weight: lighter;
    font-size:larger;
    text-align: justify;
    background-color:rgb(245, 241, 237);
}

html 
{font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* @font-face {
    font-family: Happiness ;
    src: url(./../assets/fonts/Super\ Happy\ Personal\ Use.ttf);
    font-weight: 400;
    
} */
/* Paleta de colores
rgb(37, 35, 35)
rgb(112, 121, 140)
rgb(245, 241, 237)
rgb(218, 210, 188)
rgb(169, 153, 133) */
/* .header {
    background-color: rgb(37, 35, 35);
    color: white;
    padding: 10px 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} */

/* .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
} */

/* .submenu-items {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
} */

/* .submenu:hover .submenu-items {
    display: block;
} */

/* .submenu-items li {
    margin: 5px 0;
} */

/* .logo {
    margin-right: 20px;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
} */

/* header nav li {
    background-color:rgb(112, 121, 140);
    padding: 3px;
    text-decoration: none;
}

header nav ul li a {
    color: rgb(245, 241, 237);
    text-decoration: none;
} */

/* .header ul li a:hover {
    color:rgb(37, 35, 35);
    background-color: rgb(245, 241, 237) ;
    padding: 3px;

}  */

/* .header {
display: flex;
justify-content: space-between;
align-items: center;
column-gap: 10px;

}
.logo {
    display: flex;
    border-radius: 100%;
    height: 100px;
} */


/* Main */




/* .cards_inicio {
display: grid;
height: auto;
width: 300px;
border-radius: 25% 10% 25% 10%;

}

.profesion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.cards {
    display: grid;
    width: 100px;
    text-align: center;
} */





/* Footer */

/* .footer {
    background-color:rgb(169, 153, 133);
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.contenedor-footer {
    max-width: 1200px;
    margin: 5 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-end;
    align-items: center;

}




.footer-social ul {
    padding: 0;
    list-style: none;
}

.footer-social ul li {
    display: inline-block;

}

.footer-social ul li:last-child {
    margin-right: 5;
}

.footer-social ul li a {
    color: #333;
    text-decoration: none;
}

/* Creo que seria mucho agregar tanto click para contacto y hubicacion */
/* .footer-info h3:hover {
    color: #007bff;
} */

/* .footer-social ul li a:hover {
    color: #007bff;
} */ */

/* Arriba Footer */
/* Media Quaries */
/* Estilos para tamaños pequeños (small size) */
/* @media screen and (max-width: 768px) {
    .profesion {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-social ul li {
        display: flex;
        flex-direction: column;
    
    }
} */

/* Estilos para tamaños medianos (medium size) */

/* @media screen and (min-width: 769px) and (max-width: 1024px) {

    .profesion {
        grid-template-columns: repeat(2, 1fr); 
    }

    .footer-social ul li {
    display: flex;
    flex-direction: column;
    }
} */

/* Estilos para tamaños medianos (medium size) */
/* @media screen and (max-width: 1024px) {
    .profesion {
        grid-template-columns: repeat(3, 1fr); 
    } */
/* } */
