
main
{
    .neo_titulo
    {
        @extend .centrador_texto;
    }
    .servicios_index
    {
        display: flex;
        @extend .centrador_texto;
    }
    .profesion
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        column-gap: 15px;
        justify-content: center;
        align-items: center;
        margin: 10px;

        .cards
        {
            justify-content: center;
            align-items: center;
            .mini_titulos
            {
            @extend .color_letras;
            }
            .cards_inicio
            {   
                justify-content: center;
                align-items: center;
                display: grid;
                height: auto;
                width: 300px;
                border-radius: 25% 10% 25% 10%;         
            }
            .descripciones_especialidad 
            {
                padding: 10px;
                column-gap: 15px;
                font-weight: normal;
            }

        }
    }
}