#kinesiologia   
{
    h1 
    {
        @extend .centrador_texto;
        @extend .color_letras;
    }
    .fotos_kines
    {
        display:grid;
        grid-template-columns: repeat(1,1fr);
        column-gap: 10px;
        height: auto;
        .card_cami
        {
            display: flex;
            flex-direction: row;
            @extend .bordes_cards;
            .foto_cami
            {
                align-items: center;
                justify-content: center;
                border-radius: 25% 10%;
                height: 200px;
                width: 200px;
                padding: 2px;
            }

        }
        .card_maira
        {
            display: flex;
            flex-direction: row-reverse;
            @extend .bordes_cards;
            .foto_maira 
            {
                
                border-radius: 25% 10%;
                height: 200px;
                width: 200px;
                padding: 5px;
            }
            
        }
    }
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px;
        padding: 2px; 
        .grid-item 
        {
            display: flex;
            justify-content: center;
            color: rgb(201, 26, 26);
            padding: 1px;
            border-radius: 8px;
            text-align: center;
            .btn-color-propio
            {
                background-color: rgba(255, 229, 196, 0.664) ;
                border-color: rgb(112, 102, 89, 0.274);
                color: rgb(43, 150, 158);
            }
        }
    }
}