.medicina_carrusel
{
    .imagen-container {
        max-height: 600px; 
        max-width: 500px;
        margin: 0 auto; 
    }
    .carousel-control-prev
    {
        background-color: rgb(37, 35, 35);
        .carousel-control-prev-icon
        {
            background-color: rgb(37, 35, 35);
        }
    }
    
    .carousel-control-next
    {
        background-color: rgb(37, 35, 35);
        .carousel-control-next-icon
        {
            background-color: rgb(37, 35, 35);
        }
    }
    
}