.medicina_carrusel
{
    .imagen-container {
        max-height: 600px; 
        max-width: 500px;
        margin: 0 auto; 
    }
    .carousel-control-prev
    {
        background-color: rgb(37, 35, 35);
        .carousel-control-prev-icon
        {
            background-color: rgb(37, 35, 35);
        }
    }
    
    .carousel-control-next
    {
        background-color: rgb(37, 35, 35);
        .carousel-control-next-icon
        {
            background-color: rgb(37, 35, 35);
        }
    }
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px;
        padding: 2px; 
        .grid-item 
        {
            display: flex;
            justify-content: center;
            color: rgb(201, 26, 26);
            padding: 1px;
            border-radius: 8px;
            text-align: center;
            .btn-color-propio
            {
                background-color: rgba(255, 229, 196, 0.664) ;
                border-color: rgb(112, 102, 89, 0.274);
                color: rgb(43, 150, 158);
            }
        }
    }
    
}