main 
{
    .carrusel 
    {
        width: 100%;
        display: flex;
        overflow: hidden;
    
        .imagen {
            flex: 0 0 100%;
            transition: transform 0.5s ease;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}