.psicologia_main
{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    .titulo_psicologia 
    {
        @extend .color_letras;
        display: flex;
    }

    .psicologa_laura 
    {
        display: flex;
        align-items: center; 
        text-align: center; 

        img {
            border-radius: 30%; 
            max-width: 200px; 
            height: auto; 
            margin: 3px; 
        }

        h2 
        {
            padding: 10px;
            font-weight: normal;
            font-size: 1rem;
            margin: 3px;
        }
    }
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px;
        padding: 2px; 
        .grid-item 
        {
            display: flex;
            justify-content: center;
            color: rgb(201, 26, 26);
            padding: 1px;
            border-radius: 8px;
            text-align: center;
            .btn-color-propio
            {
                background-color: rgba(255, 229, 196, 0.664) ;
                border-color: rgb(112, 102, 89, 0.274);
                color: rgb(43, 150, 158);
            }
        }
    }
}