.titulo_psicologia {
    color: rgb(43, 150, 158);
}

.psicologa_laura {
    display: flex;
    align-items: center; 
    text-align: center; 

    img {
        border-radius: 30%; 
        max-width: 200px; 
        height: auto; 
        margin-right: 20px; 
    }

    h2 {
        padding: 10px;
        font-weight: normal;
        font-size: 1rem;
    }
}