.centrador_texto 
{
    justify-content: center;
    align-items: center;
}

.color_letras
{
    color: rgb(43, 150, 158);
}

.bordes_cards 
{
    border:2px solid rgb(112, 102, 89);
    margin: 5px;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}