html
{
    font-family: "Happiness";
    font-weight: lighter;
    font-size:larger;
    text-align: justify;
    background-color:rgb(245, 241, 237);
}

html 
{font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: Happiness ;
    src: url(./../assets/fonts/Super\ Happy\ Personal\ Use.ttf);
    font-weight: 400;}