

  // Media queries
@media screen and (max-width: 768px) 
{
    .profesion
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-social 
    {
        ul
        {
            li 
            {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) 
{
    .profesion
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-social 
    {
        ul 
        {
            li 
            {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1024px) 
{
    .profesion 
    {
        grid-template-columns: repeat(3, 1fr);
    }
}
