footer
{
    background-color:rgb(169, 153, 133);
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;

    .contenedor-footer 
    {
        max-width: 1200px;
        margin: 5 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: flex-end;
        align-items: center;
        color: #ffffff;
        .footer-info 
        {
        }
        .footer-social 
        {
            ul 
            {
                padding: 0;
                list-style: none;
                
                li 
                {
                    display: inline-block;
                    a 
                    {
                        color: #ffffff;
                        text-decoration: none;
                        margin: 3px;
                    }
                    &:last-child 
                    {
                        margin-right: 5;
                    }
                }
            }
        }
    }
}