/* Paleta de colores
rgb(37, 35, 35)
rgb(112, 121, 140)
rgb(245, 241, 237)
rgb(218, 210, 188)
rgb(169, 153, 133) */

header
{

    background-color: rgba(0, 255, 242, 0.459);
    color: white;
    padding: 10px 0;
    
    .header-container 
    {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        .menu 
        {
            ul 
            {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;              
                li 
                {
                    display: inline-block;
                    margin-right: 20px;
                    padding: 3px;
                    text-decoration: none; 
                    a
                    {
                        color: rgba(0, 0, 0, 0.425);
                        text-decoration: none;
                    }
                    &:hover 
                    {
                        background-color: rgb(0, 255, 242);
                        color: #ffffff;
                        border-radius: 25%;
                        padding: 10px;
                    }
                    
                    &.submenu
                    {
                        padding: 10px;
                        .submenu-items
                        {
                            display: none;
                            position: absolute;
                            background-color: #27b16c;
                            padding: 5px;
                            z-index: 1;
                            li 
                            {
                                margin: 5px 0;
                                a
                                {
                                    &:hover 
                                    {
                                        color:rgb(37, 35, 35);
                                        background-color: rgb(255, 128, 0) ;
                                        padding: 3px;
                                    
                                    }
                                }
                            }
                            
                        }
                        &:hover .submenu-items
                        {
                            display: grid;
                            grid-template-rows: repeat(3, 1fr);
                            gap: 3px 3px 3px;
                            border-radius: 10%;
                        }
                    }                
                }
            }
        }
        .logo 
        {
            margin-right: 20px;
            max-width: 100px;
            height: auto;
            border-radius: 50%;
        }
        
    }   
}
